<div class="container-fluid project-item-list">
  <div ng-repeat="project in $ctrl.projects" class="row">
    <div class="row">
      <div class="col-auto">
        <div class="project-item">
          <div class="row">
            <div class="col-12">
              {{ project.name }}
            </div>
            <div class="col-12">
              {{ project.description }}
            </div>
          </div>
        </div>
        <div class="col-8">
        </div>
      </div>
    </div>
  </div>
</div>